.flash{color:#eee;font-weight:700;font-size:18px;line-height:20px}
.flash-bg{padding:8px;border-radius:4px}
.green{background:#1a4}
.pad12{padding:12px}
.margin12{margin:12px}
.clearfix:before,.clearfix:after{display:table;content:"";width:100%;clear:both}
.ink-bright-black{color:#000}
.ink-bright-blue{color:#00f}
.ink-bright-red{color:#f00}
.ink-bright-magenta{color:#f0f}
.ink-bright-green{color:#0f0}
.ink-bright-cyan{color:#0ff}
.ink-bright-yellow{color:#ff0}
.ink-bright-white{color:#fff}
.ink-black{color:#000}
.ink-blue{color:#00c}
.ink-red{color:#c00}
.ink-magenta{color:#c0c}
.ink-green{color:#0c0}
.ink-cyan{color:#0cc}
.ink-yellow{color:#cc0}
.ink-white{color:#ccc}
.paper-bright-black{background:#000}
.paper-bright-blue{background:#00f}
.paper-bright-red{background:#f00}
.paper-bright-magenta{background:#f0f}
.paper-bright-green{background:#0f0}
.paper-bright-cyan{background:#0ff}
.paper-bright-yellow{background:#ff0}
.paper-bright-white{background:#fff}
.paper-black{background:#000}
.paper-blue{background:#00c}
.paper-red{background:#c00}
.paper-magenta{background:#c0c}
.paper-green{background:#0c0}
.paper-cyan{background:#0cc}
.paper-yellow{background:#cc0}
.paper-white{background:#ccc}
.hr-bright-black{height:0;border:1px solid #000}
.hr-blue{height:0;border:1px solid #00c}
.hr-bright-blue{height:0;border:1px solid #00f}
.hr-red{height:0;border:1px solid #c00}
.hr-bright-red{height:0;border:1px solid #f00}
.hr-magenta{height:0;border:1px solid #c0c}
.hr-bright-magenta{height:0;border:1px solid #f0f}
.hr-green{height:0;border:1px solid #0c0}
.hr-bright-green{height:0;border:1px solid #0f0}
.hr-cyan{height:0;border:1px solid #0cc}
.hr-bright-cyan{height:0;border:1px solid #0ff}
.hr-yellow{height:0;border:1px solid #cc0}
.hr-bright-yellow{height:0;border:1px solid #ff0}
.hr-bright-white{height:0;border:1px solid #fff}
a:hover,a:clicked,a:visited{cursor:pointer}
.review-screen-shot{padding:0 16px 0 0;margin-top:0}
.clapometer-box{border:2px solid #cc0;padding:0px 8px 0px 8px}
.clapometer-point,.clapometer-pointless{border:1px solid #000;font-weight:700;margin:0 4px 0px 4px}
.clapometer-point{background:#000}
strike,.strike{text-decoration:line-through}
.nav-items > li{position:relative}
.nav-items > li .rainbow{position:absolute;top:-15px;right:-8px;height:15px;width:50px;display:block;content:'';overflow:hidden}
.nav-items > li .rainbow ul{margin-left:0px;padding-left:0px;display:flex}
.nav-items > li .rainbow .colour{flex-grow:1;width:100%;height:50px;background-color:pink;display:inline-block;-ms-transform:rotate(20deg);-webkit-transform:rotate(20deg);transform:rotate(20deg);margin-top:-10px;margin-left:1px;margin-right:-10px}
.nav-items > li .rainbow .colour.red{background-color:#f00}
.nav-items > li .rainbow .colour.yellow{background-color:#ff0}
.nav-items > li .rainbow .colour.green{background-color:#0f0}
.nav-items > li .rainbow .colour.blue{background-color:#00f}
.clapometer{margin:8px -8px 16px;border-bottom:2px solid #cc0;align-content:center;text-align:center;padding:0 0 8px;font-weight:900}
.table-of-contents-link{margin-left:-16px;padding-bottom:4px;text-decoration:none}
.table-of-contents-link:hover{font-weight:900;color:#ff0}
@media only screen and (min-width:0px){
	.col-xs-1{width:8.3333333334%}
	.col-xs-2{width:16.6666666667%}
	.col-xs-3{width:25%}
	.col-xs-4{width:33.3333333334%}
	.col-xs-5{width:41.6666666667%}
	.col-xs-6{width:50%;}
	.col-xs-7{width:58.3333333334%}
	.col-xs-8{width:66.6666666667%}
	.col-xs-9{width:75%}
	.col-xs-10{width:83.3333333334%}
	.col-xs-11{width:91.6666666667%}
	.col-xs-12,.img-responsive{width:100%}
	.col-xs-1-offset{margin-left:8.3333333334%}
	.col-xs-2-offset{margin-left:16.6666666667%}
	.col-xs-3-offset{margin-left:25%}
	.col-xs-4-offset{margin-left:33.3333333334%}
	.col-xs-5-offset{margin-left:41.6666666667%}
	.col-xs-6-offset{margin-left:50%;}
	.col-xs-7-offset{margin-left:58.3333333334%}
	.col-xs-8-offset{margin-left:66.6666666667%}
	.col-xs-9-offset{margin-left:75%}
	.col-xs-10-offset{margin-left:83.3333333334%}
	.col-xs-11-offset{margin-left:91.6666666667%}
	.desktop,.tablet{display:none}
	.pull-left{float:left}
	.pull-right{float:right}
	.centre{margin:0 auto}
	.text-centre{text-align:center}
	.clearfix:before,.clearfix,.clearfix:after{display:block;content:"";clear:both}
	.container{margin:0 12px;width:auto;max-width:100%}
	.btn{display:block;border-radius:4px;padding:8px;font-size:14px;line-height:16px;font-weight:600}
	.btn-submit{display:inline-block;text-align:center;border:2px solid #00a227;background:#11b713;color:#eee}
	.btn-submit:hover{border:2px solid #11b713;background:#12c220;color:#fff;cursor:pointer}
	.img-responsive{height:auto}
	h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{line-height:1em}
	.navbar{position:relative;padding:8px 0;margin-top:16px}
    .nav-items{display:inline;list-style-type:none;margin:0 auto;-webkit-margin-before:0;-webkit-margin-after:0;-webkit-padding-start:0}
	.nav-items > li{display:inline-block;list-style:none;padding:2px;border:8px solid #000;border-top:15px solid #000;margin:8px;line-height:32px}
	.twitter-box{margin:24px auto 8px}
}
@media only screen and (min-width:480px){
	.col-sm-1{width:8.3333333334%}
	.col-sm-2{width:16.6666666667%}
	.col-sm-3{width:25%}
	.col-sm-4{width:33.3333333334%}
	.col-sm-5{width:41.6666666667%}
	.col-sm-6{width:50%;}
	.col-sm-7{width:58.3333333334%}
	.col-sm-8{width:66.6666666667%}
	.col-sm-9{width:75%}
	.col-sm-10{width:83.3333333334%}
	.col-sm-11{width:91.6666666667%}
	.col-sm-12{width:100%}
	.col-sm-1-offset{margin-left:8.3333333334%}
	.col-sm-2-offset{margin-left:16.6666666667%}
	.col-sm-3-offset{margin-left:25%}
	.col-sm-4-offset{margin-left:33.3333333334%}
	.col-sm-5-offset{margin-left:41.6666666667%}
	.col-sm-6-offset{margin-left:50%;}
	.col-sm-7-offset{margin-left:58.3333333334%}
	.col-sm-8-offset{margin-left:66.6666666667%}
	.col-sm-9-offset{margin-left:75%}
	.col-sm-10-offset{margin-left:83.3333333334%}
	.col-sm-11-offset{margin-left:91.6666666667%}
	.nav-items > li{padding:12px 0;margin:0;line-height:0}
}
@media only screen and (min-width:524px){
	.nav-items > li{padding:12px 4px}
	.nav-items > li:hover{background:#0ff;cursor:pointer}
	.nav-items > li > a:hover{color:#fff}
}
@media only screen and (min-width:625px){
	.col-smd-1{width:8.3333333334%}
	.col-smd-2{width:16.6666666667%}
	.col-smd-3{width:25%}
	.col-smd-4{width:33.3333333334%}
	.col-smd-5{width:41.6666666667%}
	.col-smd-6{width:50%;}
	.col-smd-7{width:58.3333333334%}
	.col-smd-8{width:66.6666666667%}
	.col-smd-9{width:75%}
	.col-smd-10{width:83.3333333334%}
	.col-smd-11{width:91.6666666667%}
	.col-smd-12{width:100%}
	.col-smd-1-offset{margin-left:8.3333333334%}
	.col-smd-2-offset{margin-left:16.6666666667%}
	.col-smd-3-offset{margin-left:25%}
	.col-smd-4-offset{margin-left:33.3333333334%}
	.col-smd-5-offset{margin-left:41.6666666667%}
	.col-smd-6-offset{margin-left:50%;}
	.col-smd-7-offset{margin-left:58.3333333334%}
	.col-smd-8-offset{margin-left:66.6666666667%}
	.col-smd-9-offset{margin-left:75%}
	.col-smd-10-offset{margin-left:83.3333333334%}
	.col-smd-11-offset{margin-left:91.6666666667%}
	.nav-items > li{padding:16px 12px}
}
@media only screen and (min-width:700px){
	.nav-items > li{padding:16px}
}
@media only screen and (min-width:768px){
	.col-md-1{width:8.3333333334%}
	.col-md-2{width:16.6666666667%}
	.col-md-3{width:25%}
	.col-md-4{width:33.3333333334%}
	.col-md-5{width:41.6666666667%}
	.col-md-6{width:50%;}
	.col-md-7{width:58.3333333334%}
	.col-md-8{width:66.6666666667%}
	.col-md-9{width:75%}
	.col-md-10{width:83.3333333334%}
	.col-md-11{width:91.6666666667%}
	.col-md-12{width:100%}
	.col-md-1-offset{margin-left:8.3333333334%}
	.col-md-2-offset{margin-left:16.6666666667%}
	.col-md-3-offset{margin-left:25%}
	.col-md-4-offset{margin-left:33.3333333334%}
	.col-md-5-offset{margin-left:41.6666666667%}
	.col-md-6-offset{margin-left:50%;}
	.col-md-7-offset{margin-left:58.3333333334%}
	.col-md-8-offset{margin-left:66.6666666667%}
	.col-md-9-offset{margin-left:75%}
	.col-md-10-offset{margin-left:83.3333333334%}
	.col-md-11-offset{margin-left:91.6666666667%}1
	.mobile{display:none}
	.tablet{display:block}
	.container{margin:0 auto;max-width:752px}
	.nav-items > li{padding:24px 24px}
	.pad-right-8{padding-right:8px}
}
@media only screen and (min-width:990px){
	.col-mdl-1{width:8.3333333334%}
	.col-mdl-2{width:16.6666666667%}
	.col-mdl-3{width:25%}
	.col-mdl-4{width:33.3333333334%}
	.col-mdl-5{width:41.6666666667%}
	.col-mdl-6{width:50%;}
	.col-mdl-7{width:58.3333333334%}
	.col-mdl-8{width:66.6666666667%}
	.col-mdl-9{width:75%}
	.col-mdl-10{width:83.3333333334%}
	.col-mdl-11{width:91.6666666667%}
	.col-mdl-12{width:100%}
	.col-mdl-1-offset{margin-left:8.3333333334%}
	.col-mdl-2-offset{margin-left:16.6666666667%}
	.col-mdl-3-offset{margin-left:25%}
	.col-mdl-4-offset{margin-left:33.3333333334%}
	.col-mdl-5-offset{margin-left:41.6666666667%}
	.col-mdl-6-offset{margin-left:50%;}
	.col-mdl-7-offset{margin-left:58.3333333334%}
	.col-mdl-8-offset{margin-left:66.6666666667%}
	.col-mdl-9-offset{margin-left:75%}
	.col-mdl-10-offset{margin-left:83.3333333334%}
	.col-mdl-11-offset{margin-left:91.6666666667%}
	.mobile,.tablet{display:none}
	.desktop{display:block}
	.container{max-width:960px}
	.nav-items > li{padding:16px 32px}
}
@media only screen and (min-width:1200px){
	.col-lg-1{width:8.3333333334%}
	.col-lg-2{width:16.6666666667%}
	.col-lg-3{width:25%}
	.col-lg-4{width:33.3333333334%}
	.col-lg-5{width:41.6666666667%}
	.col-lg-6{width:50%;}
	.col-lg-7{width:58.3333333334%}
	.col-lg-8{width:66.6666666667%}
	.col-lg-9{width:75%}
	.col-lg-10{width:83.3333333334%}
	.col-lg-11{width:91.6666666667%}
	.col-lg-12{width:100%}
	.col-lg-1-offset{margin-left:8.3333333334%}
	.col-lg-2-offset{margin-left:16.6666666667%}
	.col-lg-3-offset{margin-left:25%}
	.col-lg-4-offset{margin-left:33.3333333334%}
	.col-lg-5-offset{margin-left:41.6666666667%}
	.col-lg-6-offset{margin-left:50%;}
	.col-lg-7-offset{margin-left:58.3333333334%}
	.col-lg-8-offset{margin-left:66.6666666667%}
	.col-lg-9-offset{margin-left:75%}
	.col-lg-10-offset{margin-left:83.3333333334%}
	.col-lg-11-offset{margin-left:91.6666666667%}
	.container{max-width:1024px}
	.nav-items > li{padding:24px 40px}
}
@media only screen and (min-width:1600px){
	.col-xl-1{width:8.3333333334%}
	.col-xl-2{width:16.6666666667%}
	.col-xl-3{width:25%}
	.col-xl-4{width:33.3333333334%}
	.col-xl-5{width:41.6666666667%}
	.col-xl-6{width:50%;}
	.col-xl-7{width:58.3333333334%}
	.col-xl-8{width:66.6666666667%}
	.col-xl-9{width:75%}
	.col-xl-10{width:83.3333333334%}
	.col-xl-11{width:91.6666666667%}
	.col-xl-12{width:100%}
	.col-xl-1-offset{margin-left:8.3333333334%}
	.col-xl-2-offset{margin-left:16.6666666667%}
	.col-xl-3-offset{margin-left:25%}
	.col-xl-4-offset{margin-left:33.3333333334%}
	.col-xl-5-offset{margin-left:41.6666666667%}
	.col-xl-6-offset{margin-left:50%;}
	.col-xl-7-offset{margin-left:58.3333333334%}
	.col-xl-8-offset{margin-left:66.6666666667%}
	.col-xl-9-offset{margin-left:75%}
	.col-xl-10-offset{margin-left:83.3333333334%}
	.col-xl-11-offset{margin-left:91.6666666667%}
	.container{max-width:1480px}
	.nav-items > li{padding:16px 44px}
}